# Java
*.class

# Mac OS X
*.DS_Store*

# Generated directories
build
dist
out

# Test & Coverage
TEST-com.splunk.*.xml

# IntelliJ
.idea/workspace.xml

# Unknown
*.swp
*.properties
.settings
bin
build.log

# Visual Studio
launchers/shim/**/Debug/**
launchers/shim/ipch/*
launchers/shim/shim.opensdf



